{{ attach_library('pantheon_decoupled/fes') }}
<p>
  Front-End Sites on Pantheon allow you to use
    <a style="text-decoration:none" href="https://docs.pantheon.io/guides/decoupled/overview#what-is-a-decoupled-site">
        decoupled architecture
    </a>
  to separate your frontend and backend into distinct entities.
</p>
<p>You can use the Drupal backend starter kit to streamline the creation of your Front-End Site on Pantheon.</p>
<h2>Resources:</h2>
<ul>
    <li>
        <a style="text-decoration:none" href="https://docs.pantheon.io/guides/decoupled/overview">Front-End Sites Overview</a>
    </li>
    <li>
        <a style="text-decoration:none" href="https://docs.pantheon.io/guides/decoupled/drupal-backend-starters">Drupal Backend Starter</a>
    </li>
    <li>
        <a style="text-decoration:none" href="https://docs.pantheon.io/guides/decoupled/drupal-nextjs-frontend-starters">Drupal + Next.js Frontend Starter</a>
    </li>
</ul>
